

<div></div>
  <center><div class="jumbotron" style="background-color:white;margin-top:0px;padding-top:0px">
              <h1>About Us</h1>
              <p class="lead" style="margin-left:20px;margin-right:20px">We are a company that creates designs and puts them in cool clothes</p>
              <hr class="my-1">
              <p style="margin-left:20px;margin-right:20px">Looking for clothes with the most creative designs?</p>
              <p style="margin-left:20px;margin-right:20px">Welcome then, take a look at our designs.</p>
  </div></center>
  <center>
    <table><div style="margin-top:-50px">
      <th><div class="button"><a href="#projects" class="spec-button" id="button-more" >PRODUCTS</a></div></th>
      <th><div class="button"><a href="#contact"  class="spec-button" id="button-more" >CONTACT</a></div></th>
    </div></table>
  </center>
</div>