<div style="height:100px"></div>
<div class="contact-page">
  <h1>Contact Us</h1>
  <div style="margin-top:50px"> 
    <h3>You can find us at :</h3>
    <center>
      <a href="#" class="fa fa-facebook" id="ikonat"></a>
      <a href="#" class="fa fa-linkedin" id="ikonat"></a>
      <a href="#" class="fa fa-pinterest" id="ikonat"></a>
    </center>
  </div>
  <div style="margin-top:3vw"> 
    <h3>Contacts us at:</h3>
    <center>
      <h4><b>Address: </b>company_email@hotmail.com</h4>
      <h4><b>Contact Number: </b>+377/+386 44 111 111</h4>
    </center>
  </div>
</div>