
<div class="jumbotron" style="background-color:white;margin-top:0px;padding-top:0px">
  <h1>Contact Us</h1>
  <hr class="my-1">
  <div > 
    <h3>You can find us at :</h3>
    <center>
      <a href="#" class="fa fa-facebook" id="ikonat"></a>
      <a href="#" class="fa fa-linkedin" id="ikonat"></a>
      <a href="#" class="fa fa-pinterest" id="ikonat"></a>
    </center>
  </div>
  <hr class="my-2">
  <div style="margin-top:3vw"> 
    <h3>Contacts us at:</h3>
    <center>
      <h4><b>Address: </b>company_email@hotmail.com</h4>
      <h4><b>Contact Number: </b>+377/+386 44 111 111</h4>
    </center>
  </div>
</div>