
<div>
    <center><div class="jumbotron" style="background-color:white;margin-top:0px;padding-top:0px">
            <h1>Our Staff</h1>
            <p class="lead" style="margin-left:20px;margin-right:20px">Being very professional, our staff has you fully covered with the best designs</p>
            <hr class="my-1">
    </div></center>
    <div class="container" style="margin-top:-45px;margin-bottom:0px">
        <div class="row">
            <div class="col-sm-6">
                <center><div style="list-style-type:none;margin-left:3px" >
                    <div class="fotoja" id="programeri"></div>
                    <h3>John Doe</h3>
                    <h4>As the main programmer, John is the guy behind the machine awesomeness.</h4>
                    <h4><b>Address: </b>johndoe@gmail.com</h4>
                    <h4><b>Contact Number: </b>+377/+386 44 111 111</h4>
                </div></center>
            </div>
          
            <div style="height:30px" id="ndarsja"></div>

            <div class="col-sm-6">
                <center><div style="list-style-type:none;margin-left:3px">
                    <div class="fotoja" id="dizajneri"></div>
                    <h3>Jane Doe</h3>
                    <h4>Jane is the guy responsible for the cool designs.</h4>
                    <h4><b>Address: </b>janedoe@gmail.com</h4>
                    <h4><b>Contact Number: </b>+377/+386 44 111 111</h4>
                </div></center>
            </div>
        </div>
    </div>
    <center><div class="button"><a href="#" id="button-more" >MORE</a></div></center>
</div>
