<div style="height:120px"></div>
<h1>Hello</h1>
<div style="margin-top:11250px" id="about"><%= render "about" %></div>

<div style="margin-top:22250px" id="staff"><%= render "staff" %></div>

<div style="margin-top:33250px" id="projects"><%= render "products" %></div>

<div id="contact" style="margin-top:44250px"><%= render "contact" %></div>
