<div style="height:100px"></div>
<h1>Hello</h1>
<div style="margin-top:500px" id="about"><%= render "about" %></div>

<div style="margin-top:500px" id="staff"><%= render "staff" %></div>

<div style="margin-top:500px" id="projects"><%= render "products" %></div>

<div id="contact" style="margin-top:500px"><%= render "contact" %></div>
