@import "bootstrap-sprockets";
@import "bootstrap";
h1,
h2,
h3,
h4 {
    font-family: Montserrat;
    text-align: center;
}

p {
    font-family: Raleway;
}
.fa {
  padding: 20px;
  font-size: 50px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
#ikonat {
  text-decoration:none;
  font-size: 20px;
}
.fa:hover {
    opacity: 0.7;
    color:#ffffff;
}

.fa-facebook {
  background: #3B5998;
  color: #ffffff;
}
.fa-linkedin {
  background: #007bb5;
  color: #ffffff;
}
.fa-pinterest {
  background: #cb2027;
  color: #ffffff;
}

#nav a:hover {
    font-weight: bold;
}

#navi {
    float: right;
    padding-right: 20px;
    padding-top:40px;
    font-size: 20px;
    font-family: Raleway;
    text-align: center;
    color: #333333;
}
#hyrja {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 0px;
    margin-bottom: 5px
}
#navii {
    float: right;
    padding-right: 0px;
    margin-right: -15px;
    font-size: 20px;
    font-family: Raleway;
    text-align: center;
    color: #333333;
}
#baneri {
    padding-left: 10vw;
    padding-top: 25px;
}
#titulli {
    font-size:35px;
    text-decoration:none;
    color:#333333;
    font-family: Montserrat;
}
#titulli:hover{
    font-weight: bold;
}
#hederi {
    -webkit-box-shadow: 0px 10px 210px -23px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 10px 210px -23px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 210px -23px rgba(0, 0, 0, 0.45);
    background-color: white;
    height: 95px;

}
.large-photo {
  margin-bottom:0px;
}
#home-photo {
    background-image: url("home-photo1.jpg");

    /* Full height */
    height: 40vw; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    position: relative;
}
.button {
  font-family: Montserrat;
  font-size: 20px;
  text-align:center;
  margin: 25px;
  display: inline block;
  width: 150px;
  border: 1.5px solid #d3d3d3;
  background-color:#e5e5e5;
}
.spec-button{
  display: inline block;
}
#button-more {
  color:#444444;
  
}
#button-more:hover {
  text-decoration:none;
  color:#606060;
  font-weight:bold;
}
#button-more:focus {
  text-decoration:none;
  color:#606060;
  font-weight:bold;
  
}
.center {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
#nav a {
    padding: 0px;
    padding-top: 5px;
    padding-right: 15px;
    float: left;
    text-decoration: none;
}
.on {
    font-weight:bold;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 95px;
    left: 0;
    
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
#footeri {
    width: auto;
    background-color:#5b5858;
    height: 350px;
    text-align: center;
}

.navside {
    padding: 8px 8px 8px 7vw;
    
    text-decoration: none;
    font-family: Montserrat;
    color: #c4c4c4;
    display: block;
    transition: 0.3s;
    font-size: 6vw;
}

#nav_span {
    display:none;
}

.navside:hover{
    text-decoration:none;
    color:#c4c4c4;
}

.active{
    font-size: 7.1vw;
    font-weight: bold;
    color:#ffffff;
}
#mapa {
  width: 98.9vw;  
  height: 350px;
}
.my-1 {
  margin-top:20px;
  margin-bottom:20px;
  width:70%;
}
.my-2 {
  margin-top:20px;
  margin-bottom:20px;
  width:50%;
}
.fotoja {
  border-radius:50%;
  width:180px;
  height:180px;
  margin-top:25px;
  box-shadow:0px 10px 15px;
}

#ndarsja {
  display:none;
}
#programeri {
  background-image: url( "programeri.jpg");
  width:180px;
  height:180px;
}
#dizajneri {
  background-image: url("dizajneri.jpg");
  width:180px;
  height:180px;
}



@media only screen and (max-width: 950px) {
    
    #baneri {
        padding-left: 6vw;
        padding-top: 20px;
    }
    #titulli {
        font-size:40px;
    }
    #nav_span{
        display: inline !important;
        margin-left: 315px;
    }
    .sidenav {padding-top: 15px;}
    
    #navi {
        display: none;
        
    }
    
    #mapa {
      width: 100vw;  
      height: 350px;
    }
    #home-photo {
      height: 50vw; 
    }
}
@media only screen and (max-width: 768px) {
    
    #baneri {
        padding-left: 6vw;
        padding-top: 20px;
    }
    #titulli {
        font-size:40px;
    }

    #nav_span{
        display: inline !important;
        margin-left: 150px;
    }
    #navi {
        display: none;
        
    }
    .sidenav {padding-top: 15px;}
    
    #mapa {
      width: 100vw;  
      height: 350px;
    }
    
    #ndarsja {
      display:block;
    }
    #home-photo {
      height: 55vw; 
    }
    
}
@media only screen and (max-width: 572px) {
    
    #baneri {
        padding-left: 5vw;
        padding-top: 30px;
    }
    #titulli {
        font-size:35px;
    }

    #nav_span{
        display: inline !important;
        margin-left: 20px;
    }
    #navi {
        display: none;
        
    }
    .sidenav {padding-top: 15px;}
    
    #mapa {
      width: 100vw;  
      height: 350px;
    }
    
    #ndarsja {
      display:block;
    }
    #home-photo {
      height: 60vw; 
    }
    
}
@media only screen and (max-width: 390px) {
    
    #baneri {
        padding-left: 4vw;
        padding-top: 32px;
        
    }
    #titulli {
        font-size:30px;
    }
    #nav_span{
        display: inline !important;
        margin-left: -15px;
    }
    .sidenav {padding-top: 15px;}
    
    #navi {
        display: none;
        
    }
    
    #mapa {
      width: 100vw;  
      height: 350px;
    }
    
    #ndarsja {
      display:block;
    }
    #home-photo {
      height: 70vw; 
    }
}