<nav class="navbar navbar-default navbar-fixed-top" id="lopa" >
    <div class="container-fluid" id="hederi">
        <div class="navbar-header" id="baneri">
            <%= link_to "Company Name" , root_path, id:"titulli" %></a>
        </div>
        <div >
            <ul class="nav navbar-nav" id="navi">
                <li id="nav_span"><span style="font-size:30px;cursor:pointer;" onclick="openNav()">☰</span></li>
                <li id="nav"><a href="#home">Home</a></li>
                <li id="nav"><a href="#about">About</a></li>
                <li id="nav"><a href="#staff">Staff</a></li>
                <li id="nav"><a href="#services">Services</a></li>
                <li id="nav"><a href="#projects">Projects</a></li>
                <li id="nav"><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#home">Home</a></li>
            <a href="#about">About</a></li>
            <a href="#staff">Staff</a></li>
            <a href="#services">Services</a></li>
            <a href="#projects">Projects</a></li>
            <a href="#contact">Contact</a></li>
        </div>

    </div>
</nav>