<nav class="navbar navbar-default navbar-fixed-top" id="lopa" >
    <div class="container-fluid" id="hederi">
        <div class="navbar-header" id="baneri">
            <%= link_to "Company Name" , root_path, id:"titulli" %></a>
            <span style="font-size:30px;cursor:pointer;padding-left:35px;" id="nav_span" onclick="doSomething()">☰</span>
        </div>
        
        <div id="menu">
            
            <ul class="nav navbar-nav" id="navi">
                <li class="navmain on" id="nav"><a href="#home">Home</a></li>
                <li class="navmain" id="nav"><a href="#about">About</a></li>
                <li class="navmain" id="nav"><a href="#staff">Staff</a></li>
                <li class="navmain" id="nav"><a href="#projects">Products</a></li>
                <li class="navmain" id="nav"><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <div id="mySidenav" class="sidenav">
            <a class="navside active" onclick="closeNav(); fade()" href="#home">HOME</a>
            <a class="navside" onclick="closeNav(); fade()" href="#about">ABOUT</a>
            <a class="navside" onclick="closeNav(); fade()" href="#staff">STAFF</a>
            <a class="navside" onclick="closeNav(); fade()" href="#projects">PRODUCTS</a>
            <a class="navside" onclick="closeNav(); fade()" href="#contact">CONTACT</a>
        </div>

    </div>
</nav>